<configuration>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>testName</key>
            <defaultValue>general</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${testName}" class="ch.qos.logback.core.FileAppender">
                <file>target/test-logs/test-${testName}.log</file>
                <append>false</append>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %X{testName} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="SIFT"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>